body {
    margin: 0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}

.main {
    display: flex;
}
.leftside {
    background: url(https://data.1freewallpapers.com/download/palm-leaves-dark-plant.jpg);
    background-size: cover;
    height: 100vh;
    width: 55%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title {
    margin-left: 15%;

}
.socialmedia {
    position: absolute;
    bottom: 5%;
    left: 25%;
    
}
.socialmedia img:nth-child(2) {
   margin: 0 20px 0 20px;
}
.rightside {
    background-color:rgba(15, 15, 15, 0.966);
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.signin {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 20px;
    color: grey;
    opacity: 0.6;
}


.login {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: grey;
    text-align: center;
}


.logintitle {
    color: white;
    border-radius: 10px 0px 10px 0px;
    margin-bottom: 0;
    
}

.login p:nth-child(2) {
    font-size: small;
    margin-bottom: 40px;
    opacity: 0.6;
}

input {
    width: 100%;
    height: 30px;
    margin: 5px 0 5px 0;
    background-color: black;
    border: none;
    border-radius: 5px;
    opacity: 0.7;
    color: white;
    padding-left: 20px;
}

input::placeholder {

    opacity: 0.3;
    color: white;
    
}

.forgot {
    font-size: xx-small;
    opacity: 0.6;
    position: relative;
    text-align: end;
}

button {
    margin-top: 30px;
    background-color: rgb(13, 190, 190);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    opacity: 0.8;

}